<h1>Add a new Recipe</h1>
<form  method="POST" action="/recipes">
  <label for="name">Recipe name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="description">Description:</label><br>
  <input type="text" id="description" name="description"><br><br>
  <label for="rating">Ratings(1-5):</label><br>
  <input type="text" id="rating" name="rating"><br><br>
  <label for="prep_time">Prep time(mins):</label><br>
  <input type="text" id="prep_time" name="prep_time"><br><br>
  <input type="submit" value="Submit">
</form>
